:root{
--Secondary-800: #1F2937;
--Secondary-700: #374151;
--Secondary-400: #9CA3AF;
--Secondary-200: #E5E7EB;

--WhiteGray-color: #fcfcfc;
--White-color: #fff;

--Cool-Gray-100: #F3F4F6;

--brand-blue: #3692FF;
--Light-blue: #E6F2FF;
--Powder-Blue: #CFE5FF;
--dark-blue: #111827;

--error-red: #f74747;
}