html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 375px;

  color: #1f2937;
  background-color: #ffffff;

  font-family:
    Pretendard,
    Arial,
    sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button,
input {
  font: inherit;
}